<div class="container" ng-controller="homeController as vm">
    <div class="page-header">
        <h2>Consulting bonus program <small> A easier way to handle your consultants</small></h2>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Consultants</h3>
        </div>
        <div class="panel-body">
            <a href="" ng-click="vm.directToEmployee()">Add, edit or remove employee</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Bonus</h3>
        </div>
        <div class="panel-body">
            <a href="" ng-click="vm.directToBonusCalc()">Handle bonus calcualtion</a>
        </div>
    </div>
</div>