<h4>
    Edit employee
</h4>
<div class="row flex-row">
    <div class="col-sm-8">
        <form class="form-horizontal" name="edit">
            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">First name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstName" placeholder="First name" ng-model="vm.employee.firstName" required>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">Last name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastName" placeholder="Last name" ng-model="vm.employee.lastName" required>
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfEmp" class="col-sm-2 control-label">Employment date</label>
                <div class="col-sm-10">
                    <input type="text"
                           id="dateOfEmp"
                           class="form-control"
                           value="{{ vm.employee.dateOfEmployment | date:'dd-MM-yyyy'}}"
                           required>
                    <div style="display:inline-block; min-height:290px;">
                        <uib-datepicker ng-model="vm.employee.dateOfEmployment" 
                                        class="well well-sm" 
                                        datepicker-options="inlineOptions">
                        </uib-datepicker>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 ">
                    <button type="submit" class="btn btn-default" ng-click="vm.save(vm.employee)" ng-disabled="edit.$invalid">Save contact</button>
                    <button type="submit" class="btn btn-default" ui-sref="employee">Cancel</button>
                    <button type="submit" class="btn btn-danger pull-right" data-toggle="modal" data-target="#removeEmployee">Remove contact</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="removeEmployee" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove Employee</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove employee?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left"  data-dismiss="modal" ng-click="vm.remove(vm.employee)">Remove</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


